In [28]:
import pandas as pd
bios = pd.read_csv("C:\\Users\\IBRAHIM\\Documents\\ml-vet-journey\\python\\pand\\bios.csv")
bios_new = bios.copy()
bios_new.query('NOC == "FRANCE"')
bios_new.head()
bios_new[["name","born_date"]]
# Aggregating Data
bios.head()
bios.value_counts()
bios[bios['born_country'] == 'USA'] ['born_region'].value_counts() 
bios[bios['born_country'] == 'USA'] ['born_region'].value_counts().tail(10)
# Tail() display last few rows of a dataframe by default it shows 5 rows
# bios.groupby(bios['born_date'].dt.year)['name'].count()
bios['highest_rank'] = bios['height_cm'].rank()
bios

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date,highest_rank
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,NaN
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,51936.5
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,51936.5
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,14054.0
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,NaN
...,...,...,...,...,...,...,...,...,...,...,...
99524,100323,Holger Höhne,1970-05-06,Füssen,Bayern,GER,Germany,180.0,82.0,NaN,44497.5
99525,100324,Andy Kapp,1967-12-08,Sonthofen,Bayern,GER,Germany West Germany,185.0,90.0,NaN,56137.5
99526,100325,Uli Kapp,1971-04-14,Füssen,Bayern,GER,Germany,184.0,81.0,NaN,54181.0
99527,100326,Michael Schäffer,1968-04-28,Neunburg vorm Wald,Bayern,GER,Germany West Germany,184.0,72.0,NaN,54181.0
99528,100327,Hirofumi Kudo,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN